<div class="container">
  <header>
      <h1>Shiva Teja</h1>
  </header>

  <div class="additional-photos">
    <h2>Photos</h2>
    <div class="photo-gallery">
        <div *ngFor="let photo of localPhotos">
          <img [src]="photo" alt="Image" style="width: 100%; height: auto; margin-bottom: 10px;" />
        </div>
    </div>
  </div>

  <div class="personal-info">
      <h2>Personal Information</h2>
      <p><strong>Name:</strong> Shiva Teja Vadde</p>
      <p><strong>Height:</strong> 5'5"</p>
      <p><strong>Phone Number:</strong> 9502045981</p>
  </div>

  <!-- <div class="horoscope">
      <h2>Horoscope Details</h2>
      <p><strong>Nakshatra:</strong> Makha, 4th Pada</p>
      <p><strong>Gothram:</strong> Vishakhala</p>
      <p><strong>Rashi:</strong> Simha</p>
      <p><strong>Date of Birth:</strong> November 8, 1993</p>
      <p><strong>Time of Birth:</strong> 11:00 PM</p>
      <p><strong>Place of Birth:</strong> Karimnagar</p>
  </div> -->

  <div class="family-background">
      <h2>Family Background</h2>
      <p><strong>Father:</strong> Bharath Reddy Vadde, Govt Teacher (SA ENGLISH)</p>
      <p><strong>Mother:</strong> Vidya Vadde, Homemaker</p>
      <p><strong>Siblings:</strong> 1 Elder Brother (Married)</p>
  </div>

  <div class="education">
      <h2>Education</h2>
      <p><strong>B.Tech:</strong> Mechanical Engineering</p>
  </div>

  <div class="profession">
      <h2>Profession</h2>
      <p><strong>Occupation:</strong> Software Developer at Constellation Technologies</p>
      <p><strong>Salary:</strong> 8.6 LPA </p>
  </div>
</div>
